---
import { Image } from "astro:assets";
import play from "@/assets/img/about/about.jpg"
---

<!-- Start of About Play  section
	============================================= -->
	<section id="ori-about-play" class="ori-about-play-section position-relative">
		<div class="container">
			<div class="ori-about-play-top-content d-flex justify-content-between align-items-center">
				<div class="ori-inner-section-title">
					<span class="sub-title text-uppercase">About Us</span>
					<h2>Innovative Solutions for Technical Services</h2>
				</div>
				<div class="ori-about-play-top-text">
					At Devliqly, we specialize in delivering cutting-edge solutions for Web Development, AI Development, Game Development, and more. Our team is committed to providing customized services that drive success and growth for your business. With our expertise and passion for technology, we help bring your ideas to life with precision and innovation.
				</div>
			</div>
			<div class="ori-about-play-area position-relative">
				<div class="ori-about-play-img">
					<Image src={play} alt="Devliqly Services" class="w-auto h-[40vh] border-r-8" />
				</div>
			</div>
			<div class="ori-about-counter-area">
				<div class="ori-about-counter-item-wrap d-flex justify-content-between">
					<div class="ori-about-counter-item pera-content">
						<h3><span class="counter">4</span>+</h3>
						<p class="text-uppercase"><span>//</span> YEARS OF EXPERIENCE</p>
					</div>
					<div class="ori-about-counter-item pera-content">
						<h3><span class="counter">120</span>+</h3>
						<p class="text-uppercase"><span>//</span> PROJECTS COMPLETED</p>
					</div>
					<div class="ori-about-counter-item pera-content">
						<h3><span class="counter">3</span>K</h3>
						<p class="text-uppercase"><span>//</span> CLIENT RECOGNITION</p>
					</div>
					<div class="ori-about-counter-item pera-content">
						<h3><span class="counter">700</span>+</h3>
						<p class="text-uppercase"><span>//</span> HAPPY CLIENTS</p>
					</div>
				</div>
			</div>
		</div>
		<div class="line_animation">
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
		</div>
	</section>
		
<!-- End of About Play   section
	============================================= -->