<!-- Start of About Circle Progress  section
	============================================= -->
	<section id="ori-about-circle-progress" class="ori-about-circle-progress-section position-relative">
		<div class="container">
			<div class="ori-circle-progress-top-content d-flex justify-content-between align-items-center">
				<div class="ori-inner-section-title">
					<span class="sub-title text-uppercase">Why Choose Devliqly</span>
					<h2>Fuel Your Business Growth with Expert Solutions</h2>
				</div>
				<div class="ori-circle-progress-btn">
					<a href="/services">Explore Our Services<i class="fal fa-arrow-right"></i></a>
				</div>
			</div>
			<div class="ori-about-circle-progress-item-wrap d-flex align-items-center justify-content-between">
				<div class="ori-about-circle-progress-item">
					<div class="counter-boxed text-center headline position-relative">
						<div class="graph-outer">
							<input type="text" class="dial" data-fgColor="#FF7425" data-bgColor="#fff" data-width="180" data-height="180" data-linecap="round"  value="85" >
							<div class="inner-text count-box"><span class="count-text" data-stop="85" data-speed="4500"></span>%</div>
						</div>
						<h3 class="text-uppercase">Frontend Development</h3>
					</div>
				</div>
				<div class="ori-about-circle-progress-item">
					<div class="counter-boxed text-center headline position-relative">
						<div class="graph-outer">
							<input type="text" class="dial" data-fgColor="#FF7425" data-bgColor="#fff" data-width="180" data-height="180" data-linecap="round"  value="90" >
							<div class="inner-text count-box"><span class="count-text" data-stop="90" data-speed="4500"></span>%</div>
						</div>
						<h3 class="text-uppercase">Backend Development</h3>
					</div>
				</div>
				<div class="ori-about-circle-progress-item">
					<div class="counter-boxed text-center headline position-relative">
						<div class="graph-outer">
							<input type="text" class="dial" data-fgColor="#FF7425" data-bgColor="#fff" data-width="180" data-height="180" data-linecap="round"  value="70" >
							<div class="inner-text count-box"><span class="count-text" data-stop="70" data-speed="4500"></span>%</div>
						</div>
						<h3 class="text-uppercase">Mobile App Development</h3>
					</div>
				</div>
				<div class="ori-about-circle-progress-item">
					<div class="counter-boxed text-center headline position-relative">
						<div class="graph-outer">
							<input type="text" class="dial" data-fgColor="#FF7425" data-bgColor="#fff" data-width="180" data-height="180" data-linecap="round"  value="92" >
							<div class="inner-text count-box"><span class="count-text" data-stop="92" data-speed="4500"></span>%</div>
						</div>
						<h3 class="text-uppercase">Web Development</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="line_animation">
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
		</div>
	</section>
	
<!-- End of About Circle Progress  section
	============================================= -->