---
import ContactForm from "@/components/reactComponents/ContactForm.jsx"
---
<!-- Start of Contact form  section
	============================================= -->
	<section id="ori-contact-form" class="ori-contact-form-section position-relative">
		<div class="container">
			<div class="ori-contact-form-content">
				<div class="row">
					<div class="col-lg-6">
						<div class="ori-contact-form-text-info pera-content">
							<h3>Get a free quote now</h3>
							<p>Experience hassle-free service with a quick and easy quote. Let us help you with tailored solutions that fit your needs.</p>
							<div class="ori-contact-form-item-info">
								<div class="ori-contact-info d-flex align-items-center">
									<div class="info-icon d-flex align-items-center justify-content-center">
										<i class="fas fa-phone-alt"></i>
									</div>
									<div class="info-text pera-content">
										<h4>Phone</h4>
										<p>+91-7827626940</p>
									</div>
								</div>
								<div class="ori-contact-info d-flex align-items-center">
									<div class="info-icon d-flex align-items-center justify-content-center">
										<i class="fas fa-envelope"></i>
									</div>
									<div class="info-text pera-content">
										<h4>Email</h4>
										<p>contact.devliqly@gmail.com</p>
									</div>
								</div>
								<!-- <div class="ori-contact-info d-flex align-items-center">
									<div class="info-icon d-flex align-items-center justify-content-center">
										<i class="fas fa-map-marker-alt"></i>
									</div>
									<div class="info-text pera-content">
										<h4>Location</h4>
										<p>Ta-134/A, Gulshan Badda Link</p>
									</div>
								</div> -->
							</div>
						</div>
					</div>
					<ContactForm client:load/>
				</div>
			</div>
		</div>
		<div class="line_animation">
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div> 
		</div>
	</section>
<!-- End of Contact Form section
	============================================= -->	