<!-- Start of Achievement History section
	============================================= -->
	<section id="ori-achivement-history" class="ori-achivement-history-section position-relative">
		<div class="container">
			<div class="ori-inner-section-title text-center">
				<span class="sub-title text-uppercase">
Our Process, Your Success</span>
				<h2>Discover How We Work
				</h2>
			</div>
			<div class="ori-achivement-history-content">
				<div class="ori-achivement-history-item-wrapper position-relative">
					<div class="ori-achivement-history-item-area">
						<div class="ori-achivement-history-item pera-content position-relative">
							<div class="achive-year position-absolute">
								Step 1
							</div>
							<div class="achivement-text">
								<h3>Consultation</h3>
								<p>Clients share their</p>
                                <p> needs & goals.</p>
							</div>
							<!-- <div class="achivement-text">
								<h3>CSS Design Awards</h3>
								<p>Honorable mention</p>
							</div> -->
						</div>
					</div>
					<div class="ori-achivement-history-item-area">
						<div class="ori-achivement-history-item pera-content position-relative">
							<div class="achive-year position-absolute">
								Step 2
							</div>
							<div class="achivement-text">
								<h3>Strategy Session</h3>
								<p> Devliqly creates a</p>
								<p>roadmap.</p>
							</div>
							<!-- <div class="achivement-text">
								<h3>CSS Design Awards</h3>
								<p>Honorable mention</p>
							</div> -->
						</div>
					</div>
					<div class="ori-achivement-history-item-area">
						<div class="ori-achivement-history-item pera-content  position-relative">
							<div class="achive-year position-absolute">
								Step 3
							</div>
							<div class="achivement-text">
								<h3>Prototype & Feedback</h3>
								<p>Clients review and</p>
                                <p>suggest changes.</p>
							</div>
							<!-- <div class="achivement-text">
								<h3></h3>
								
							</div> -->
						</div>
					</div>
					<div class="ori-achivement-history-item-area">
						<div class="ori-achivement-history-item pera-content  position-relative">
							<div class="achive-year position-absolute">
								Step 4
							</div>
							<div class="achivement-text">
								<h3>Development & Testing</h3>
								<p>Final product development.</p>
							</div>
							<!-- <div class="achivement-text">
								<h3>CSS Design Awards</h3>
								<p>Honorable mention</p>
							</div> -->
						</div>
					</div>
                    <div class="ori-achivement-history-item-area">
						<div class="ori-achivement-history-item pera-content  position-relative">
							<div class="achive-year position-absolute">
								Step 5
							</div>
							<div class="achivement-text">
								<h3>Launch & Support</h3>
								<p>Ongoing maintenance</p>
                                <p>& improvements.</p>
							</div>
							<!-- <div class="achivement-text">
								<h3></h3>
								
							</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="line_animation">
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
		</div>
	</section>	
<!-- End of Achievement History section
	============================================= -->	