---
import { Image } from "astro:assets";
import first from "@/assets/img/service/ser1.png"
import second from "@/assets/img/service/ser2.png"
import third from "@/assets/img/service/ser3.png"
---

<!-- Start of Service section
	============================================= -->
	<section id="ori-service-1" class="ori-service-section-1">
		<div class="ori-service-wrapper-1">
			<div class="container">
				<div class="ori-service-top-content-1 d-flex justify-content-between align-items-center">
					<div class="ori-section-title-1 text-uppercase wow fadeInLeft" data-wow-delay="200ms" data-wow-duration="1500ms">
						<h2>WE Design <span> Your Imagination</span></h2>
					</div>
					<div class="ori-btn-1 text-uppercase wow fadeInRight" data-wow-delay="300ms" data-wow-duration="1500ms">
						<a href="/services">Our services</a>
					</div>
				</div>
				<div class="ori-service-content-1">
					<div class="row">
						<div class="col-lg-4 wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
							<div class="ori-service-inner-item position-relative">
								<div class="ori-service-more position-absolute">
									<a href="/about"><i class="fas fa-arrow-right"></i></a>
								</div>
								<div class="ori-service-img-title position-relative">
									<div class="ori-service-img">
										<Image src={first} alt="">
									</div>
									<div class="ori-service-title text-center position-absolute">
										<h3>About us  <i class="fal fa-arrow-right"></i></h3>
									</div> 
								</div>
							</div>
						</div>
						<div class="col-lg-4 wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
							<div class="ori-service-inner-item position-relative">
								<div class="ori-service-more position-absolute">
									<a href="/mission"><i class="fas fa-arrow-right"></i></a>
								</div>
								<div class="ori-service-img-title position-relative">
									<div class="ori-service-img">
										<Image src={second} alt="">
									</div>
									<div class="ori-service-title text-center position-absolute">
										<h3>Our Mission  <i class="fal fa-arrow-right"></i></h3>
									</div> 
								</div>
							</div>
						</div>
						<div class="col-lg-4 wow fadeInUp" data-wow-delay="800ms" data-wow-duration="1500ms">
							<div class="ori-service-inner-item position-relative">
								<div class="ori-service-more position-absolute">
									<a href="/services"><i class="fas fa-arrow-right"></i></a>
								</div>
								<div class="ori-service-img-title position-relative">
									<div class="ori-service-img">
										<Image src={third} alt="">
									</div>
									<div class="ori-service-title text-center position-absolute">
										<h3>Our approach  <i class="fal fa-arrow-right"></i></h3>
									</div> 
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- End of Service section
	============================================= -->