---
import { Image } from "astro:assets";
import play from "@/assets/img/about/v-play.png"
---

<!-- Start of Vission section
	============================================= -->
	<section id="ori-vission" class="ori-vission-section position-relative">
		<div class="container">
			<div class="ori-vission-content">
				<div class="row">
					<div class="col-lg-6">
						<div class="ori-vission-text-area">
							<div class="ori-service-why-choose-text">
								<div class="ori-inner-section-title">
									<span class="sub-title text-uppercase">Why choose us</span>
									<h2>Unlock Revenue Growth for Your Business
									</h2>
								</div>
								<div class="ori-service-why-choose-list-item ul-li-block">
									<ul>
										<li>High Standards</li>
										<li>Focus on People</li>
									</ul>
								</div>
								<div class="ori-vission-more-btn text-uppercase">
									<a href="about.html">Read More <i class="fal fa-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="ori-about-play-area position-relative">
							<div class="ori-about-play-img">
								<Image src={play} alt="">
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="line_animation">
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
		</div>
	</section>
<!-- End of Vission  section
	============================================= -->