---
import { Image } from "astro:assets";
import slider1 from "@/assets/img/slider/slider-1.png"
---

<!-- Start of Slider section
	============================================= -->
	<section id="ori-slider-1" class="ori-slider-section-1 position-relative">
		<div class="ori-slider-content-wrapper-1 postion-relative">
			<div class="ori-slider-social position-absolute text-uppercase ul-li">
				<ul>
					<li><a href="#"><i class="fab fa-facebook-f"></i> Facebook</a></li>
					<li><a href="#"><i class="fab fa-youtube"></i> Youtube</a></li>
					<li><a href="#"><i class="fab fa-twitter"></i>twitter</a></li>
				</ul>
			</div>
			<div class="ori-slider-wrap-1">
				<div  class="ori-slider-content-1 position-relative">
					<div class="ori-slider-text text-center  text-uppercase">
						<h1>Build Digital <span>PRoduct</span> 
							and Brand <i class="fas fa-arrow-right"></i>
						</h1>
						<div class="slider-play-btn">
							<a class="d-flex align-items-center justify-content-center text-uppercase" target="_blank" href="https://calendly.com/devliqly/30min">Let's Talk</a>
						</div>
						<div class="ori-slider-img position-absolute">
							<Image src={slider1} alt="slider1">
						</div>
					</div>
				</div>
				<div class="ori-slider-content-1 position-relative">
					<div class="ori-slider-text text-center  text-uppercase">
						<h1>Build Digital <span>Market</span> 
							and Brand <i class="fas fa-arrow-right"></i>
						</h1>
						<div class="slider-play-btn">
							<a class="d-flex align-items-center justify-content-center text-uppercase" target="_blank" href="https://calendly.com/devliqly/30min">Let's Talk</a>
						</div>
						<div class="ori-slider-img position-absolute">
							<Image src={slider1} alt="slider1">
						</div>
					</div>
				</div>
				<div class="ori-slider-content-1 position-relative">
					<div class="ori-slider-text text-center  text-uppercase">
						<h1>Build Digital <span>PRoduct</span> 
							and Brand <i class="fas fa-arrow-right"></i>
						</h1>
						<div class="slider-play-btn">
							<a class="d-flex align-items-center justify-content-center text-uppercase" target="_blank" href="https://calendly.com/devliqly/30min">Let's Talk</a>
						</div>
						<div class="ori-slider-img position-absolute">
							<Image src={slider1} alt="slider1">
						</div>
					</div>
				</div>
			</div>
			<div class="line_animation">
				<div class="line_area"></div>
				<div class="line_area"></div>
				<div class="line_area"></div>
				<div class="line_area"></div>
				<div class="line_area"></div>
				<div class="line_area"></div>
				<div class="line_area"></div>
				<div class="line_area"></div>
			</div>
		</div>
		<div  class="ori-slider-scroll position-absolute text-uppercase">
			<span>SCrool </span>
			<div class="scroll-mouse">
				<i class="fal fa-mouse"></i>
			</div>
		</div>
	</section>				
<!-- End of Slider section
	============================================= -->