<!-- Start of Text scroll section
	============================================= -->
	<section id="ori-text-scroll-1" class="ori-text-scroll-section-1 position-relative">
		<div class="ori-text-scroll-content">
			<div class="ori-text-scroll-item-1 text-uppercase">
				<h3>Creative Digital <span>Studio</span></h3>
				<span class="ori-text-scroll-icon"><i class="fas fa-star"></i></span>
				<h3>Creative Digital <span>Agency</span></h3>
				<span class="ori-text-scroll-icon"><i class="fas fa-star"></i></span>
			</div>
		</div>
		<div class="line_animation">
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
		</div>
	</section>		
<!-- End of Text scroll section
	============================================= -->